
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000000; 
    color: white;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .sidebar {
    width: 500px;
    background-color: #222222; 
    padding: 1rem;
    overflow-y: auto;
    border-right: 1px solid #222222;
  }

  .sidebar-list {
    max-height: calc(100vh - 100px); 
    overflow-y: auto;
    margin-top: 1rem;
    padding-right: 4px;
  }
  
  .sidebar-list::-webkit-scrollbar {
    width: 8px; 
  }
  
  .sidebar-list::-webkit-scrollbar-thumb {
    background-color: #222222; 
    border-radius: 10px;
  }
  
  .sidebar-list::-webkit-scrollbar-track {
    background-color: #000000; 
  }
  
  .sidebar-list::-webkit-scrollbar-thumb:hover {
    background-color: #1DCD9F;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .sidebar li:hover {
    background-color: #222222;
  }
  
  .sidebar li.active {
    background-color: #1DCD9F;
    color: white;
  }
  
  .header {
    padding: 1rem;
    background-color: #000000; 
    color: #1DCD9F;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .chart-area {
    flex: 1;
    padding: 1rem;
    background-color: #222222;
    height: 100%;
  }
  